<% provide(:title, "Plan de cuentas") %>
<% provide(:sub_title, "Listado") %>

	<div id="jstree_categories"></div>
	 	<br/> 

  
 <div class="row">
  	<!-- Radius Button Group -->
	<ul class="button-group radius">
	  <li><div id="nueva-cuenta" ></div></li> 	  
	  <li><%= link_to "Imprimir", catalogos_imprimir_path, :class => 'small button' %></li>
	  <li><div id="task-form" ></div></li> 
	</ul>
</div>



