<% provide(:title, "Cierre de Ciclo") %>
<% provide(:sub_title, "Listado") %>
<p id="notice"><%= notice %></p> 

<h1></h1> 
<div class="row">
  <div class="separator" >
    <div class="medium-12 columns" >
      <table id= "cierre_ciclos_table"> 
        <thead> 
          <tr> 
            <th style="display: none">ID </th>
            <th>FECHA</th> 
            <th>CONCEPTO</th> 
            <th>Es Oficial</th> 
            <th></th> 
          </tr> 
        </thead> 

        <tbody></tbody> 
      </table>
    </div>  
  </div>
</div>
    <br> 

<%= link_to 'Nuevo', new_cierre_ciclo_path, :class => 'small button'  %>