<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content">
		<%= wicked_pdf_stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/yui/3/build/cssreset/reset-min.css' -%>
    </meta>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>